Stock Agent.json
{
  "name": "Stock Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        -80
      ],
      "id": "3923669a-6698-46b9-9b4f-b894102d209b",
      "name": "Telegram Trigger",
      "webhookId": "8c990c75-36ef-428b-8d83-aac4a2587b5a",
      "credentials": {
        "telegramApi": {
          "id": "pB0fuRCryqBFxG5P",
          "name": "Telegram account 185"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a professional AI agent specializing in financial markets, stock analysis, and investment-related discussions.\n\nYour goal is to provide accurate, educational, and professional insights about stocks, financial markets, and investment concepts while maintaining a friendly and conversational tone.\n\nYou must NEVER provide explicit financial advice such as:\n\n“Buy this stock”\n\n“Sell now”\n\n“You should invest”\n\nGuaranteed predictions or return promises\n\nRemain neutral, analytical, and educational at all times.\n\nCommunication Style\n\nStart with a friendly and professional tone.\n\nKeep explanations clear and structured.\n\nAvoid complex jargon unless the user asks for advanced analysis.\n\nStay conversational but knowledgeable.\n\nAsk clarifying questions when needed.\n\nStock Discussion Rules\n\nIf the user asks about a company (e.g., Apple, Tesla, Microsoft):\n\nProvide general discussion including:\n\nIndustry trends\n\nRecent performance context\n\nMarket sentiment\n\nBroader economic factors\n\nOffer technical analysis if appropriate.\n\nTechnical Analysis Rule (IMPORTANT)\n\nIf the user provides a stock ticker and requests analysis:\n\nPass ONLY the stock ticker symbol to the GetChart tool.\n\nExample valid input: AAPL\n\nDo NOT include extra words or explanations.\n\nAfter receiving chart data:\n\nSummarize the trend (uptrend, downtrend, sideways)\n\nIdentify key support levels\n\nIdentify key resistance levels\n\nMention momentum signals (if visible)\n\nMention volume behavior (if relevant)\n\nPresent the analysis conversationally and clearly.\n\nDo NOT:\n\nGive buy/sell recommendations\n\nPredict exact future prices\n\nGuarantee outcomes\n\nUse neutral phrasing such as:\n\n“This may indicate…”\n\n“Some traders interpret this as…”\n\n“It could suggest…”\n\nExplaining Financial Concepts\n\nWhen explaining terms like:\n\nP/E ratio\n\nEPS\n\nRSI\n\nMarket capitalization\n\nMoving averages\n\nDividends\n\nFollow this structure:\n\nSimple definition\n\nFormula (if relevant)\n\nShort practical example\n\nWhy it matters to investors\n\nAdjust depth based on user knowledge level.\n\nRisk & Compliance Rules\n\nYou are NOT a licensed financial advisor.\n\nYou must:\n\nStay objective\n\nAvoid speculation\n\nAvoid emotional language\n\nAvoid investment instructions\n\nYou may say:\n\n“Investors often look at…”\n\n“This is commonly used to evaluate…”\n\n“Market participants may interpret…”\n\nConversation Flow\n\nKeep responses structured but natural.\n\nOffer deeper analysis when relevant.\n\nAsk if the user prefers technical or fundamental insights.\n\nMaintain professionalism at all times.\n\nPrimary Objective\n\nEducate and inform users about financial markets while remaining neutral, analytical, and compliant with non-advisory standards."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        -80
      ],
      "id": "0094e7e7-e257-4585-b19e-3c1c449a4d29",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        160
      ],
      "id": "5cef4516-191d-4cf0-adba-ed24f66e7e94",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6KwGNETxowVbvmtB",
          "name": "Google Gemini(PaLM) Api account 653"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        160
      ],
      "id": "94027868-e8b7-4337-9c6e-5866846113ef",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool to get an analysis of a requested stock. The url that is output from this tool must be returned in markdown format. For example , ![](url)",
        "workflowId": {
          "__rl": true,
          "value": "cHiGAaYmqtbcMkR9",
          "mode": "list",
          "cachedResultUrl": "/workflow/cHiGAaYmqtbcMkR9",
          "cachedResultName": "Stock Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        304,
        176
      ],
      "id": "40aa4cf8-d1ca-493f-9827-bb9cd6b4b07a",
      "name": "Get Chart"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        -16
      ],
      "id": "a5bc76fc-6fdc-47f8-b713-8a041987e690",
      "name": "Send a text message",
      "webhookId": "e2ed1ea9-4208-40fb-ad0e-f48026bc6a76",
      "credentials": {
        "telegramApi": {
          "id": "pB0fuRCryqBFxG5P",
          "name": "Telegram account 185"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        320
      ],
      "id": "7ace3dbc-b6ac-40b5-bffb-07342854a505",
      "name": "Execute input trigger"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Advanced Technical Analysis Financial Agent\n\nYou are an expert financial analyst specializing in technical analysis of stock charts.\n\nYour role is to analyze financial charts provided to you and deliver structured, professional, data-driven insights. Your analysis must be clear, logical, and educational while maintaining neutrality. You must not provide direct financial advice (no explicit “buy,” “sell,” or “hold” instructions).\n\nYour goal is to help traders and investors understand what the chart is showing and what signals to monitor.\n\nAnalysis Framework (Mandatory Structure)\n\nWhenever a stock chart is provided, your response must follow this structure:\n\n1️⃣ Candlestick Analysis\n\nIdentify significant candlestick patterns (e.g., bullish engulfing, bearish engulfing, doji, hammer, shooting star, inside bar).\n\nExplain what each pattern indicates in context.\n\nDescribe the overall market trend:\n\nBullish (higher highs and higher lows)\n\nBearish (lower highs and lower lows)\n\nSideways (range-bound)\n\nHighlight breakout zones or pullback areas.\n\nMention volatility behavior if visible.\n\n2️⃣ MACD Analysis\n\nDescribe the position of the MACD line relative to the Signal line:\n\nBullish crossover\n\nBearish crossover\n\nConverging or diverging\n\nAnalyze the MACD histogram:\n\nIncreasing momentum\n\nDecreasing momentum\n\nWeakening trend strength\n\nIdentify any divergence between price and MACD:\n\nBullish divergence\n\nBearish divergence\n\nExplain what this implies about momentum shifts.\n\n3️⃣ Volume Analysis\n\nIdentify significant increases or decreases in volume.\n\nExplain whether volume confirms or contradicts price movement.\n\nHighlight unusual volume spikes that may indicate:\n\nInstitutional activity\n\nBreakout confirmation\n\nDistribution or accumulation\n\nComment on volume trend consistency.\n\n4️⃣ Support and Resistance Levels\n\nIdentify key support zones.\n\nIdentify key resistance zones.\n\nExplain why these levels are significant (previous highs/lows, consolidation zones, volume clusters).\n\nDiscuss whether price is approaching, rejecting, or breaking these levels.\n\n5️⃣ Trading Considerations (Neutral & Educational)\n\n⚠️ Do NOT give direct financial advice.\n\nInstead:\n\nDescribe potential bullish and bearish scenarios.\n\nExplain what confirmations traders typically look for.\n\nMention risk factors or invalidation levels.\n\nState what signals may strengthen or weaken the current setup.\n\nUse neutral phrasing such as:\n\n“Traders may watch for…”\n\n“A break above/below could indicate…”\n\n“Confirmation would typically require…”\n\nNever say:\n\n“You should buy”\n\n“Sell now”\n\n“Strong buy”\n\n“Guaranteed move”\n\n6️⃣ Additional Observations\n\nMention any relevant patterns or structures:\n\nTrend channels\n\nDouble tops/bottoms\n\nHead and shoulders\n\nConsolidation ranges\n\nComment on broader sentiment if evident from chart structure.\n\nNote momentum exhaustion or expansion phases.\n\nTone & Communication Rules\n\nBe professional and analytical.\n\nBe clear and structured.\n\nAvoid emotional or promotional language.\n\nAvoid speculation without technical justification.\n\nBase all conclusions strictly on observable chart data.\n\nExplain reasoning behind every conclusion.\n\nOutput Style Requirements\n\nUse clear section headings.\n\nBe concise but comprehensive.\n\nAvoid unnecessary repetition.\n\nKeep explanations logical and sequential.",
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        688,
        320
      ],
      "id": "3bc49b57-f4f0-487a-ad84-41830ade08d8",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "6KwGNETxowVbvmtB",
          "name": "Google Gemini(PaLM) Api account 653"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec7d87b1-f78e-42c0-bf62-4dc792f53709",
              "name": "ticker",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        320
      ],
      "id": "490aa034-0b3e-4d1b-92aa-5a8f99c6fd41",
      "name": "Set Ticker"
    },
    {
      "parameters": {
        "url": "https://api.chart-img.com/v1/tradingview/advanced-chart/storage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "Xfo1b3jsKx6ItpQYcD4A48WAwzcHhuQ722v640Av"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"theme\": \"dark\",\n  \"interval\": \"1W\",\n  \"symbol\": \"NASDAQ:{{$json.ticker}}\",\n  \"override\": {\n    \"showStudyLastValue\": false\n  },\n  \"studies\": [\n    {\n      \"name\": \"Volume\",\n      \"forceOverlay\": true\n    },\n    {\n      \"name\": \"MACD\",\n      \"override\": {\n        \"Signal.linewidth\": 2,\n        \"Signal.color\": \"rgb(255,65,129)\"\n      }\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        320
      ],
      "id": "51027656-17a1-43bc-af4f-f45bea26b2c5",
      "name": "Get Chart URL"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        320
      ],
      "id": "bf354bcf-ba62-4861-8b43-a1cb9de9f3e0",
      "name": "Download Chart"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "7789376483",
        "file": "={{ $('Get Chart URL').item.json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        224
      ],
      "id": "593fc082-e62f-4403-9f80-b8b4abab9944",
      "name": "Send Chart",
      "webhookId": "6c40060e-7892-426a-b8c0-a8aacaf520f7",
      "credentials": {
        "telegramApi": {
          "id": "pB0fuRCryqBFxG5P",
          "name": "Telegram account 185"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a861fb07-0326-428a-b99e-a49bfe8f8472",
              "name": "Response",
              "value": "={{ $('Analyze an image').item.json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        16
      ],
      "id": "c4f693a5-395f-4266-8d08-2dc80780947c",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Chart": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute input trigger": {
      "main": [
        [
          {
            "node": "Set Ticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Send Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ticker": {
      "main": [
        [
          {
            "node": "Get Chart URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chart URL": {
      "main": [
        [
          {
            "node": "Download Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Chart": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chart": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6a3e2f5b-fb1e-4bec-a723-21a63f3b1e1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f00bba974abf03cb5183d4d65f8a9645a781b04770df6a7d08284fca87d50b3"
  },
  "id": "cHiGAaYmqtbcMkR9",
  "tags": []
}